Repository Vendor-Innovate-Solutions/Vendor-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, routing, configuration, testing, docs

project update
  API_DOCUMENTATION.md
  AUTHENTICATION_CHANGES.md
  AUTHENTICATION_GUIDE.md
  FORM_FIELD_REFERENCE.md
  QUICK_START.md
  app/authentication/signup/page.tsx
  components/login_form.tsx
  lib/schemas/auth.ts
  package-lock.json
  package.json
  utils/auth_fn.ts
  utils/auth_service.ts
Labels: frontend, routing, configuration

Configure production backend URL and Railway deployment setup
  DEPLOYMENT_CHECKLIST.md
  DEPLOYMENT_READY.md
  FLOW_DIAGRAMS.md
  IMPLEMENTATION_SUMMARY.md
  QUICK_START_RAILWAY.md
  RAILWAY_DEPLOYMENT.md
  STOCK_MANAGEMENT_FEATURES.md
  STOCK_QUICK_REFERENCE.md
  USER_FLOW_IMPLEMENTATION.md
  VISUAL_OVERVIEW.md
  app/authentication/signup/page.tsx
  app/manufacturer/stockCount/page.tsx
  app/retailer/Orders/new/page.tsx
  app/retailer/companies/page.tsx
  app/retailer/invoices/generate/page.tsx
  app/retailer/setup/page.tsx
  components/login_form.tsx
  components/manufacturer/stockcount/GodownManagement.tsx
  components/manufacturer/stockcount/NavigationBar.tsx
  components/manufacturer/stockcount/StockBalance.tsx
  components/manufacturer/stockcount/StockItems.tsx
  components/manufacturer/stockcount/StockMovements.tsx
  components/manufacturer/stockcount/StockTransfer.tsx
  lib/schemas/auth.ts
  next.config.ts
  nixpacks.toml
  railway.json
  railway.toml
Labels: frontend, routing

Fix critical security vulnerabilities - upgrade Next.js to 15.3.8
  package-lock.json
  package.json
Labels: configuration

Replace hardcoded localhost URLs with NEXT_PUBLIC_API_URL environment variable
  app/manufacturer/configuration/page.tsx
  components/employee/OrderDetails.tsx
  utils/auth_fn.ts
Labels: frontend, routing

Fix API endpoints to match API documentation
  app/authentication/signup/page.tsx
  components/employee/OrderDetails.tsx
  components/login_form.tsx
  utils/auth_service.ts
Labels: frontend, routing

Fix login: change email field to username to match API (username accepts email address)
  components/login_form.tsx
  lib/schemas/auth.ts
Labels: frontend

Fix API endpoints to match backend structure - Updated all endpoints to use correct paths (/api/orders/sales/, /api/workflow/, /api/catalog/, etc.)
  app/employee/page.tsx
  app/manufacturer/accounting/addCustomer/page.tsx
  app/manufacturer/accounting/createBill/page.tsx
  app/manufacturer/accounting/page.tsx
  app/manufacturer/accounting/vendorBills/page.tsx
  app/manufacturer/stockCount/page.tsx
  app/retailer/companies/page.tsx
  components/manufacturer/stockcount/GodownManagement.tsx
  components/manufacturer/stockcount/data.tsx
  components/retailer/data/mockData.ts
  utils/auth_fn.ts
Labels: frontend, routing

Fix syntax error: remove escaped quotes in auth_fn.ts
  utils/auth_fn.ts
Labels: none

Revert API endpoint changes - use original backend paths without /api/ prefix for custom endpoints
  app/employee/page.tsx
  app/manufacturer/accounting/addCustomer/page.tsx
  app/manufacturer/accounting/createBill/page.tsx
  app/manufacturer/accounting/page.tsx
  app/manufacturer/accounting/vendorBills/page.tsx
  app/manufacturer/stockCount/page.tsx
  app/retailer/companies/page.tsx
  components/manufacturer/stockcount/GodownManagement.tsx
  components/manufacturer/stockcount/data.tsx
Labels: frontend, routing

Update API endpoints to use /api/ prefix as per backend documentation
  app/manufacturer/accounting/addCustomer/page.tsx
  app/manufacturer/accounting/createBill/page.tsx
  app/manufacturer/accounting/page.tsx
  app/manufacturer/accounting/vendorBills/page.tsx
  app/manufacturer/page.tsx
  app/manufacturer/stockCount/page.tsx
  components/manufacturer/stockcount/GodownManagement.tsx
  components/manufacturer/stockcount/data.tsx
Labels: frontend, routing

Comprehensive fix: Add /api/ prefix to all API endpoints as per backend documentation
  app/authentication/signup/page.tsx
  app/employee/page.tsx
  app/manufacturer/accounting/createBill/page.tsx
  app/manufacturer/accounting/page.tsx
  app/manufacturer/company/page.tsx
  app/manufacturer/connections/page.tsx
  app/manufacturer/page.tsx
  app/manufacturer/profile/page.tsx
  app/manufacturer/stockCount/page.tsx
  app/retailer/Orders/new/page.tsx
  app/retailer/Orders/page.tsx
  app/retailer/Products/page.tsx
  app/retailer/Profile/page.tsx
  app/retailer/companies/page.tsx
  app/retailer/dashboard/page.tsx
  app/retailer/invoices/generate/page.tsx
  app/retailer/setup/page.tsx
  components/employee/OrderDetails.tsx
  components/login_form.tsx
  components/manufacturer/stockcount/GodownManagement.tsx
  components/manufacturer/stockcount/StockBalance.tsx
  components/manufacturer/stockcount/StockItems.tsx
  components/manufacturer/stockcount/StockMovements.tsx
  components/manufacturer/stockcount/StockTransfer.tsx
  components/manufacturer/stockcount/data.tsx
Labels: frontend, routing

Fix: Remove unused countData reference in accounting page
  app/manufacturer/accounting/page.tsx
Labels: frontend, routing

Fix: Add X-Company-ID header and remove company query params
  app/manufacturer/accounting/addCustomer/page.tsx
  app/manufacturer/accounting/createBill/page.tsx
  app/manufacturer/accounting/page.tsx
  app/manufacturer/accounting/vendorBills/page.tsx
  app/manufacturer/page.tsx
  components/manufacturer/stockcount/StockBalance.tsx
  components/manufacturer/stockcount/StockItems.tsx
  components/manufacturer/stockcount/StockMovements.tsx
  components/manufacturer/stockcount/StockTransfer.tsx
  components/manufacturer/stockcount/data.tsx
  utils/auth_fn.ts
Labels: frontend, routing

Add automatic token refresh to prevent session timeouts
  app/layout.tsx
  components/providers/AuthProvider.tsx
  utils/auth_fn.ts
  utils/tokenRefresh.ts
Labels: frontend, routing

latest
  app/manufacturer/company/page.tsx
  app/manufacturer/stockCount/page.tsx
  components/login_form.tsx
Labels: frontend, routing

Fix: Parse products API response correctly from backend
  components/manufacturer/stockcount/data.tsx
Labels: frontend

Fix: Add missing company field to form state in stockCount page
  app/manufacturer/stockCount/page.tsx
Labels: frontend, routing

Fix: Parse products correctly from backend API response in all stock components
  components/manufacturer/stockcount/StockBalance.tsx
  components/manufacturer/stockcount/StockItems.tsx
  components/manufacturer/stockcount/StockMovements.tsx
  components/manufacturer/stockcount/StockTransfer.tsx
  components/manufacturer/stockcount/data.tsx
Labels: frontend

Add comprehensive mock data fallbacks to all frontend pages
  app/employee/page.tsx
  app/manufacturer/accounting/createBill/page.tsx
  app/manufacturer/accounting/customerInvoice/page.tsx
  app/manufacturer/accounting/page.tsx
  app/manufacturer/connections/page.tsx
  app/manufacturer/page.tsx
  app/retailer/Orders/page.tsx
  app/retailer/Products/page.tsx
  components/retailer/data/mockData.ts
Labels: frontend, routing

Fix all pages to display mock data when APIs return empty results - ensures all pages show meaningful data for better UX
  app/employee/page.tsx
  app/manufacturer/accounting/customerInvoice/page.tsx
  app/manufacturer/accounting/page.tsx
  app/manufacturer/connections/page.tsx
  app/manufacturer/page.tsx
  app/manufacturer/profile/page.tsx
  app/retailer/Orders/page.tsx
  app/retailer/Products/page.tsx
  app/retailer/dashboard/page.tsx
  components/manufacturer/stockcount/data.tsx
Labels: frontend, routing

Fix all pages to display mock data when APIs return empty results - ensures all pages show meaningful data for better UX
  app/manufacturer/accounting/vendorBills/page.tsx
  components/manufacturer/stockcount/GodownManagement.tsx
  components/manufacturer/stockcount/StockBalance.tsx
  components/manufacturer/stockcount/StockItems.tsx
  components/manufacturer/stockcount/StockMovements.tsx
Labels: frontend, routing

Complete mock data implementation - all pages now show data including orders, shipments, chart, stock, warehouses, and vendor bills
  app/manufacturer/page.tsx
Labels: frontend, routing

Update manufacturer dashboard - set total orders to 4 and add complete order details (order_id, retailer_name, products)
  app/manufacturer/page.tsx
Labels: frontend, routing

Fix retailer profile check to use is_portal_user flag, migrate to Portal APIs, simplify setup page
  API_DOCUMENTATION.md
  RETAILER_API_DOCUMENTATION.md
  app/authentication/setup/company/page.tsx
  app/authentication/setup/external/page.tsx
  app/authentication/setup/layout.tsx
  app/authentication/setup/role/page.tsx
  app/authentication/signup/page.tsx
  app/manufacturer/company/page.tsx
  app/manufacturer/configuration/page.tsx
  app/manufacturer/page.tsx
  app/manufacturer/parties/create/page.tsx
  app/manufacturer/profile/page.tsx
  app/manufacturer/stockCount/page.tsx
  app/retailer/Orders/page.tsx
  app/retailer/Products/page.tsx
  app/retailer/Profile/page.tsx
  app/retailer/accept-invite/page.tsx
  app/retailer/companies/page.tsx
  app/retailer/dashboard/page.tsx
  app/retailer/setup/page.tsx
  components/employee/OrderDetails.tsx
  components/login_form.tsx
  components/manufacturer/nav_bar.tsx
  components/retailer/data/mockData.ts
  components/retailer/nav_bar.tsx
  lib/schemas/auth.ts
  utils/api.ts
  utils/auth_service.ts
Labels: frontend, routing

Fix frontend TypeScript errors and API endpoint mappings
  app/authentication/setup/company/page.tsx
  app/manufacturer/company-code/page.tsx
  app/manufacturer/connections/page.tsx
  app/manufacturer/parties/create/page.tsx
  app/manufacturer/stockCount/page.tsx
  app/retailer/Orders/page.tsx
  app/retailer/Products/browse/page.tsx
  app/retailer/accept-invite/page.tsx
  app/retailer/companies/page.tsx
  app/retailer/dashboard/page.tsx
  app/retailer/setup/page.tsx
  components/manufacturer/nav_bar.tsx
  components/manufacturer/stockcount/data.tsx
  components/retailer/nav_bar.tsx
  package-lock.json
  tsconfig.json
  types/api.ts
Labels: frontend, routing, configuration

resolved the page errors
  app/manufacturer/company-code/page.tsx
  app/manufacturer/stockCount/page.tsx
  components/manufacturer/stockcount/data.tsx
  utils/api.ts
Labels: frontend, routing

Fix manufacturer dashboard: order confirmation, employee allocation, shipment tracking
  app/manufacturer/page.tsx
  app/manufacturer/stockCount/page.tsx
  app/retailer/Orders/page.tsx
  app/retailer/Products/page.tsx
  app/retailer/companies/page.tsx
  app/retailer/dashboard/page.tsx
Labels: frontend, routing

refined
  app/retailer/Orders/page.tsx
  app/retailer/dashboard/page.tsx
  components/retailer/nav_bar.tsx
Labels: frontend, routing

for safety reasons
  app/manufacturer/accounting/customerInvoice/page.tsx
  app/manufacturer/accounting/groups/create/page.tsx
  app/manufacturer/accounting/ledgers/create/page.tsx
  app/manufacturer/accounting/ledgers/page.tsx
  app/manufacturer/accounting/page.tsx
  app/manufacturer/accounting/trackPayment/page.tsx
  app/manufacturer/accounting/trial-balance/page.tsx
  app/manufacturer/accounting/vouchers/create/page.tsx
  app/manufacturer/accounting/vouchers/post/page.tsx
  app/manufacturer/company-code/page.tsx
  app/manufacturer/data-import/page.tsx
  app/manufacturer/data-import/tally-mapping/page.tsx
  app/manufacturer/layout.tsx
  app/manufacturer/page.tsx
  app/manufacturer/sales/credit-notes/[id]/page.tsx
  app/manufacturer/sales/credit-notes/create/page.tsx
  app/manufacturer/sales/credit-notes/page.tsx
  app/manufacturer/sales/price-lists/create/page.tsx
  app/manufacturer/sales/price-lists/page.tsx
  app/manufacturer/settings/page.tsx
  app/manufacturer/stockCount/page.tsx
  app/retailer/Orders/page.tsx
  app/retailer/Products/browse/page.tsx
  app/retailer/companies/page.tsx
  app/retailer/dashboard/page.tsx
  app/retailer/setup/page.tsx
  app/select-company/page.tsx
  components/login_form.tsx
  components/manufacturer/nav_bar.tsx
  components/ui/alert.tsx
  components/ui/badge.tsx
  components/ui/checkbox.tsx
  components/ui/progress.tsx
  package-lock.json
  package.json
  utils/api.ts
Labels: frontend, routing, configuration

done phase 1
  app/manufacturer/data-import/page.tsx
  components/manufacturer/nav_bar.tsx
  utils/api.ts
Labels: frontend, routing

cfn integrated
  .gitignore
  app/manufacturer/cfn/page.tsx
  app/manufacturer/page.tsx
  components/manufacturer/nav_bar.tsx
Labels: frontend, routing

prod
  app/manufacturer/accounting/groups/create/page.tsx
  app/manufacturer/accounting/ledgers/create/page.tsx
  app/manufacturer/accounting/ledgers/page.tsx
  app/manufacturer/accounting/trial-balance/page.tsx
  app/manufacturer/accounting/vouchers/create/page.tsx
  app/manufacturer/accounting/vouchers/post/page.tsx
  app/manufacturer/sales/credit-notes/[id]/page.tsx
  app/manufacturer/sales/credit-notes/create/page.tsx
  app/manufacturer/sales/credit-notes/page.tsx
  app/manufacturer/sales/price-lists/create/page.tsx
  app/manufacturer/sales/price-lists/page.tsx
  app/retailer/dashboard/page.tsx
  next.config.ts
  package-lock.json
  package.json
  styles/global.css
  utils/api.ts
  utils/config.ts
  vercel.json
Labels: frontend, styling, routing, configuration

fix: malformed template literals in price-lists and credit-notes pages
  app/manufacturer/sales/credit-notes/create/page.tsx
  app/manufacturer/sales/price-lists/create/page.tsx
Labels: frontend, routing

fix: wrap useSearchParams in Suspense boundary for cfn page
  app/manufacturer/cfn/page.tsx
Labels: frontend, routing

fix: replace all hardcoded localhost auth URLs with AUTH_BASE_URL from config
  components/login_form.tsx
  utils/auth_fn.ts
  utils/config.ts
Labels: frontend

.github/labeler.yml:

# Labeler configuration for a Next.js frontend repository

frontend:
  - 'components/**'
  - 'pages/**'
  - 'styles/**'
  - 'app/**'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'

styling:
  - 'styles/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'

routing:
  - 'pages/**'
  - 'app/**'

configuration:
  - 'next.config.js'
  - 'tsconfig.json'
  - '.env*'
  - '.eslintrc*'
  - 'package.json'
  - 'postcss.config.js'
  - 'tailwind.config.js'

testing:
  - '__tests__/**'
  - '**/*.test.*'
  - 'jest.config.js'

docs:
  - 'README.md'
  - 'docs/**'
